<!-- Author : Christina Lin 
    Email: christinalin@brandeis.edu -->
<!-- Design a class for about us header -->
<div class=aboutHeader>
    <h1>About Us</h1>
</div>
<div>
    <!-- Create a table to store the information about Brandeis Sports history and mission statement to let the information looks clean and organized -->
    <table border=“2px”>
        <tr>
            <th>Our History</th>
            <th>Mission Statement</th>
        </tr>
        <p>
            The Brandeis Department of Athletics, Physical Education, and Recreation enriches the current and future
            lives
            of
            our community through sport, fitness and wellness offerings.
            We achieve our mission by:
        </p>
        <tr>
            <!-- Inserted a youtube video to improve the user experiences -->
            <td><iframe width="560" height="315" src="https://www.youtube.com/embed/QT-I97byp6Y?si=l1o51dMU7NJqTYaO"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe></td>
            <td>
                <img src="/images/judges.jpeg" alt="Brandeis Judges" width="200" height="150" />
                <ul>
                    <li>Providing opportunities for students to seek competitive excellence utilizing the values of
                        discipline,
                        leadership,
                        resilience and respect</li>
                    <li>Encouraging students to explore interests and habits leading to the development of an
                        appreciation
                        of
                        lifelong
                        health and fitness</li>
                    <li> Complementing the educational mission of the University by emphasizing the development of a
                        well-balanced
                        lifestyle
                        Developing an inclusive community in which all can learn, play and compete</li>
                </ul>
            </td>
        </tr>
    </table>
    <h2>How to find us?</h2>
    <!-- Adding a google map to let user easily find more information in terms of location -->
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.948586012683!2d-71.25721562419174!3d42.364934971192355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e38317b2a735b1%3A0x154d76f27b276a85!2sGosman%20Sports%20and%20Convocation%20Center!5e0!3m2!1sen!2sus!4v1697921662748!5m2!1sen!2sus"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>