<h1>About Us</h1>
<h2><strong>Mission Statement</strong></h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QT-I97byp6Y?si=l1o51dMU7NJqTYaO"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
<div>
    <p>
        The Brandeis Department of Athletics, Physical Education, and Recreation enriches the current and future
        lives
        of
        our community through sport, fitness and wellness offerings.
        We achieve our mission by:
    <ul>
        <li>Providing opportunities for students to seek competitive excellence utilizing the values of
            discipline,
            leadership,
            resilience and respect</li>
        <li>Encouraging students to explore interests and habits leading to the development of an appreciation
            of
            lifelong
            health and fitness</li>
        <li> Complementing the educational mission of the University by emphasizing the development of a
            well-balanced
            lifestyle
            Developing an inclusive community in which all can learn, play and compete</li>
    </ul>
    </p>

</div>