<!-- List upcoming events at the sports complex, such as tournaments, races, and charity
events. Include photos and descriptions of past events. -->

<table border=“2px”>
    <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Time</th>
        <th>Upcoming</th>

    </tr>
    <tr>
        <td><img src="/images/event_swim.jpg" alt="Brandeis Swim" /> </td>
        <td>Women's Swimming</td>
        <td>10/31/2023</td>
        <td>Yes!</td>


    </tr>
    <tr>
        <td><img src="/images/event_soccor.jpg" alt="Brandeis Soccor" /> </td>
        <td>Judges score twice but fall to #7 Emory, 4-2</td>
        <td>10/20/2023</td>
        <td>end</td>


    </tr>
    <tr>
        <td><img src="/images/event_volleyball.jpg" alt="Brandeis Volleybal" /></td>
        <td>Volleyball drops 3-1 decision to Tufts</td>
        <td>10/17/2023</td>
        <td>end</td>

    </tr>

</table>