<!-- List the facilities available at the sports complex, 
    such as a gym, pool, tennis courts, and basketball courts. 
    Include photos and descriptions of each facility. -->

<table border=“2px”>
    <tr>
        <th>Facilities Item</th>
        <th>Description</th>
        <th>Notes</th>
    </tr>
    <tr>
        <td><img src="/images/baseball.jpeg" alt="Brandeis Baseball" /> </td>
        <td>baseball</td>
        <td>lalla</td>


    </tr>
    <tr>
        <td><img src="/images/pool.jpeg" alt="Brandeis Pool" /></td>
        <td>Pool</td>
        <td>Hadi Mohammadi</td>

    </tr>

</table>