<!-- Author : Christina Lin 
    Email: christinalin@brandeis.edu -->
<!-- List the facilities available at the sports complex, 
    such as a gym, pool, tennis courts, and basketball courts. 
    Include photos and descriptions of each facility. -->
<h2>Facilites :) <a href=https://brandeisjudges.com/index.aspx">
        Click the Home Page to Book your Facilites!
</h2>
</a>
<!-- Using a table to organize the category of differnet facilties  -->
<table border=“2px”>
    <tr>
        <!-- Separated by three different columns -->
        <th>Facilities Item</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <!-- With category with the inserted images and the following description -->
    <tr>
        <td><img src="/images/facilities_danceStudio.jpeg" alt="Brandeis Dance" /></td>
        <td>Dance Studio</td>
        <td>Brandeis Dance Studio offers spacious and well-equipped facilities for students and dance enthusiasts.
            Within its inviting spaces, you can find a variety of dance clubs, including the Adagio Dance Company at
            Brandeis, the Ballet Club, and the Kaos (Hip-Hop Club), providing opportunities for diverse dance styles and
            skill levels. These clubs enhance the vibrant dance community at Brandeis University.</td>

    </tr>
    <tr>
        <td><img src="/images/facilities_basketball.jpeg" alt="Brandeis Baseball" /> </td>
        <td>Basketball Courts</td>
        <td>
            The Brandeis University basketball courts are well-maintained and offer state-of-the-art facilities for both
            casual and competitive play. The courts feature a hardwood surface, providing an excellent playing
            environment for basketball lovers. Additionally, the facilities are equipped with adjustable hoops,
            ample seating, and convenient access to locker rooms, making it an ideal space for basketball enthusiasts of
            all skill levels.</td>
    </tr>
    <tr>
        <td><img src="/images/facilities_tennis.jpeg" alt="Brandeis Tennis" /></td>
        <td>Tennis Courts</td>
        <td>Brandeis University's tennis courts offer great facilities with a total of eight well-maintained
            courts, ensuring ample space for players to enjoy the sport. These courts are equipped with modern
            amenities, including adjustable net heights and high-quality surfacing, providing an excellent playing
            experience for both beginners and seasoned tennis players. The surrounding environment is lush and
            inviting, making it an ideal setting for tennis players to engage in a satisfying and enjoyable game.</td>

    </tr>
    <tr>
        <td><img src="/images/facilities_baseball.jpeg" alt="Brandeis Baseball" /></td>
        <td>Baseball Courts</td>
        <td>Brandeis University's baseball facilities feature well-maintained, lush green fields that provide an ideal
            playing surface for the team. The courts are equipped with modern amenities, including state-of-the-art
            batting cages and dugouts that offer players a comfortable and efficient training environment. Spectators
            can enjoy watching the games from the stands with a clear view of the action on these top-notch baseball
            courts.</td>

    </tr>
    <tr>
        <td><img src="/images/facilities_weightRoom.jpeg" alt="Brandeis Weight Room" /></td>
        <td>Weight Room</td>
        <td>The Brandeis weight room features a well-equipped gym with a variety of exercise machines and free weights,
            providing ample opportunities for strength training. It offers a spacious and clean environment for
            individuals to work on their fitness goals. The weight room at Brandeis is a popular hub for students and
            community members looking to maintain an active and healthy lifestyle.</td>
    </tr>

    <tr>
        <td><img src="/images/facilities_pool.jpeg" alt="Brandeis Swimming Pool" /></td>
        <td>Swimming Pool</td>
        <td>The Brandeis Swimming Pool offers a well-maintained and spacious aquatic area, complete with a standard
            25-meter pool, ideal for both recreational and lap swimming. The facilities include separate changing rooms
            for men and women, as well as a relaxing deck area for lounging and socializing. It usually hold
            competitions across nations</td>

    </tr>
</table>