<table>
  <tr>
    <td>
      <h1>Welcome to Your Sports Complex</h1>
      <p>Your destination for fitness, fun, and sports!</p>
      <p>
        Explore our state-of-the-art facilities, join exciting programs, and
        participate in upcoming events.
      </p>
      <h5>Gosman Sports and Convocation Center</h5>
      <p>Location: 415 South St, Waltham, MA 02453</p>
    </td>
    <td>
      <img
        src="/images/brandeis-university-gosman-sports-and-convocaton-center-betty-denise.jpeg"
        alt="Sports Complex Image"
        class="img-fluid"
      />
    </td>
  </tr>
</table>
