<html>

<head>
    <title>Brandeis Sports Complex</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>
    <header>
        <div class="header">
            <h1>Brandeis Sports</h1>
        </div>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="facilities">Facilities</a></li>

        </ul>
    </header>
    <%- body%>
        <footer>
            <p>Copyright©2023</p>
        </footer>
</body>

</html>