<h1>Membership and Policy</h1>
<br />
<section>
    <article>
        <h4>All current Brandeis students, faculty, and staff, may use the athletic facilities free of charge.  
            A valid Brandeis ID card must be presented to enter and upon request.</h4>
    </article>
    <articel>
        <h3>What kinds of Membership we have....</h3>
        <ul>
            <li>Alumni</li>
            <li>Immediate Family of current student, faculty or staff (must be 18 years or older) </li>
            <li>Waltham Senior Citizen (must be 65 years or older and a Waltham resident)</li>
            <li>Current <a href="https://www.brandeis.edu/bolli/">BOLLI</a> Student</li>
        </ul>
    </article>
    <article>
        <h3>Pricing</h3>
        <table>
            <tr>
                <td>$500</td>
                <td>Full year</td>
            </tr>
            <tr>
                <td>$300</td>
                <td>Semester</td>
            </tr>
            <tr>
                <td>$250</td>
                <td>Summer</td>
            </tr>
            <tr>
                <td>$100</td>
                <td>Intersession Break</td>
            </tr>
            <tr>
                <td>All payments are due in full at the start of the membership period.  No refunds.<br />
                    Credit card, cash and check payments accepted.</td>
            </tr>
        </table>
    </article>
    <article>
        <h3>Membership Policy</h3>
        <p>Facility memberships can be purchased by eligible individuals by submitting a membership application.  
            Once information is verified and membership application approved, instructions will be sent for picking up membership cards.  
            Please contact Tom Rand (<a href="mailto:rand@brandeis.edu">rand@brandeis.edu</a>) or Michael Matt (<a href="mailto:mmatt@brandeis.edu">mmatt@brandeis.edu</a>) with any questions.</p>
    </article>
    <article>
        <h3>Guest Policy</h3>
        <div>
            Current Brandeis students, faculty, staff, and members may bring guests into the facility. 
            <ul>
                <li>All guests must be accompanied by their Brandeis sponsor at all times.</li>
                <li>All guests must sign a waiver of liability and assumption of risk form at the front desk.</li>
                <li>All guests must pay a fee of <b>$10/guest per day</b>.</li>
            </ul>
            <br />
            No appointment is necessary.  Cash, checks and credit cards accepted.
        </div>
    </article>
    <article>
        <h3>Child Policy</h3>
        <div>
            Current Brandeis students, faculty, staff, and members may bring their children into the facility. 
            <ul>
                <li>Children 12 years and younger - no charge</li>
                <li>Children 13 years and older must follow the Guest Policy (see above).</li>
                <li>Children must be supervised by their parent or guardian at all times in the facility.</li>
                <li>Children 12 years and younger are NOT allowed in the weight room.</li>
            </ul>
        </div>
    </article>
</section>

