
<h1>
    We have these amazing programs!
</h1>
<img src="./public/Programs_img.jpg" alt="Programs_photo">
<tabel>
    <th>
        <td>
            Men and Women
        </td>
        <td>
            Men only
        </td>
        <td>
            Women only
        </td>
    </th>
    <tr>
        <td>
            <ul>
                <li>Besketball</li>
                <li>Cross Country</li>
                <li>Fencing</li>
                <li>Indoor Track and Field</li>
                <li>Outdoor Track and Field</li>
                <li>Soccer</li>
                <li>Tennis</li>
                <li>Swimming and Diving</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Baseball</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Softball</li>
                <li>Volleyball</li>
            </ul>
        </td>
    </tr>
</tabel>