
<h1>
    We have these amazing programs!
</h1>
<img src="/images/Programs_image.jpg" alt="Programs_photo" />
<br/>
<!--to use table intoduce the programs at Brandeis University-->
<table border="2px">
    <tr class="head">
        <td>
            Men and Women
        </td>
        <td>
            Men only
        </td>
        <td>
            Women only
        </td>
    </tr>
    <tr>
        <td>
            <ul class="programs">
                <li>Besketball</li>
                <li>Cross Country</li>
                <li>Fencing</li>
                <li>Indoor Track and Field</li>
                <li>Outdoor Track and Field</li>
                <li>Soccer</li>
                <li>Tennis</li>
                <li>Swimming and Diving</li>
            </ul>
        </td>
        <td>
            <ul class="programs">
                <li>Baseball</li>
            </ul>
        </td>
        <td>
            <ul class="programs">
                <li>Softball</li>
                <li>Volleyball</li>
            </ul>
        </td>
    </tr>
</table>
<br />
<br />
<br />
<br />