<html>

<head>
    <title>Welcome</title>
</head>

<body>
    <h1>Thank you, <%= username %>!</h1>
</body>

</html>

<!-- <h2>Thank you for reaching out! We will get back to you as soon as we can.</h2> -->